<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>TROVIT</h1>
            <p>trovit.tn est détenu, maintenu et administré par McZEN Technologies.
                <br>
                McZEN Technologies est une société enregistrée et constituée en Tunisie sous le numéro de société B2045302020</p>
        </div>
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-3">
            <a routerLink="">Accueil</a>
            <a routerLink="menu">Facture</a>
            <a routerLink="about">À propos</a>
            <a routerLink="login">Connexion</a>
            <a routerLink="register">S'inscrire</a>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-2 mt-3 mb-3">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>