<div class="container mt-5 mb-5">

	<h1 class="text-center">Comment obtenir votre facture	</h1>

	<h3>Remplissez les champs</h3>
	<p>Ajoutez vos informations de paiement ainsi que toute autre information importante pour votre
		client. Vous pouvez par
		exemple préciser la méthode de paiement à privilégier.</p>
	<h3>Aperçu</h3>
	<p>Cliquez sur “Aperçu” afin de voir à quoi ressemble votre facture avant de l’envoyer ; nous sommes
		certains que vous
		allez l’aimer.
		Nous avons passé des années à développer et à améliorer le design de nos modèles de factures de
		manière à ce qu’ils
		soient intuitifs, pratiques à utiliser, mais surtout professionnels.</p>
	<h3>Téléchargez votre PDF</h3>
	<p>Une fois satisfait(e) de l’aperçu de votre facture, c’est le moment de la télécharger au format
		pdf. Vous n’avez plus
		ensuite qu’à l’envoyer à votre client !</p>

</div>